
# **Assignment**

Name:-Ritik Jaiswal

Branch:-Data Science

Roll Number:-DS7A2215

In [6]:
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine
import pandas as pd

In [7]:
# Function to extract table to a pandas DataFrame
def extract_table_to_pandas(tablename, db_engine):
    query = "SELECT * FROM {}".format(tablename)
    return pd.read_sql(query, db_engine)

db_engine = create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                                   format('root', '', 
                                                          'localhost', 'elearning'))

In [8]:
def print_user_comparison(user1, user2, user3):
    print("Course id overlap between users:")
    print("================================")
    print("User 1 and User 2 overlap: {}".format(
    set(user1.course_id) & set(user2.course_id)
    ))
    print("User 1 and User 3 overlap: {}".format(
    set(user1.course_id) & set(user3.course_id)
    ))
    print("User 2 and User 3 overlap: {}".format(
    set(user2.course_id) & set(user3.course_id)
    ))

In [9]:
# Get user with id 4387
user1 = pd.read_sql("SELECT * FROM rating where user_id=4387", db_engine)

# Get user with id 18163
user2 = pd.read_sql("SELECT * FROM rating where user_id=18163", db_engine)

# Get user with id 8770
user3 = pd.read_sql("SELECT * FROM rating where user_id=8770", db_engine)

# Use the helper function to compare the 3 users
print_user_comparison(user1, user2, user3)

Course id overlap between users:
================================
User 1 and User 2 overlap: {32, 96, 36, 6, 7, 44, 95}
User 1 and User 3 overlap: set()
User 2 and User 3 overlap: set()

In [10]:
def extract_rating_data(db_engine):
    return pd.read_sql("SELECT * FROM rating", db_engine)

def extract_course_data(db_engine):
    return pd.read_sql("SELECT * FROM courses", db_engine)

In [11]:
ratings = extract_rating_data(db_engine)

course_data = extract_course_data(db_engine)

In [12]:
ratings.head()

   user_id  course_id  rating
0        1          6       4
1        1         36       5
2        1         37       5
3        1         45       5
4        1         50       5

In [13]:
course_data.head()

,course_id,title,description,programming_language
0,1,Machine Learning with Apache Spark,"Spark is a powerful, general purpose tool for ...",python
1,2,Financial Analytics in Spreadsheets,Monitoring the evolution of traded assets is k...,spreadsheets
2,3,Intermediate R,The intermediate R course is the logical next ...,r
3,4,Data Visualization with ggplot2 (Part 2),This ggplot2 tutorial builds on your knowledge...,r
4,5,Fraud Detection in R,The Association of Certified Fraud Examiners e...,r

In [14]:
ratings.user_id.nunique()

38174

In [15]:
# Print out the number of missing values per column
print(course_data.isnull().sum())

course_id               0
title                   0
description             0
programming_language    3
dtype: int64

In [16]:
# The transformation should fill in the missing values
def transform_fill_programming_language(course_data):
    imputed = course_data.fillna({"programming_language": "R"})
    return imputed

transformed = transform_fill_programming_language(course_data)

# Print out the number of missing values per column of transformed
print(transformed.isnull().sum())

course_id               0
title                   0
description             0
programming_language    0
dtype: int64

In [17]:
# transformation function
def transform_avg_rating(rating_data):
    # Group by course_id and extract average rating per course
    avg_rating = round(rating_data.groupby('course_id').rating.mean(),2)
    # Return sorted average ratings per course
    sort_rating = avg_rating.sort_values(ascending=False).reset_index()
    return sort_rating

In [18]:
# Use transform_avg_rating on the extracted data and print results
avg_course_ratings = transform_avg_rating(ratings)
print(avg_course_ratings)

    course_id  rating
0          23    4.80
1          46    4.80
2          96    4.69
3          56    4.66
4          26    4.65
..        ...     ...
94         54    4.24
95         92    4.22
96         29    4.21
97         17    4.15
98         42    4.11

[99 rows x 2 columns]

In [19]:
#findng thee unique values
l=list(course_data.programming_language.unique())
l

['python', 'spreadsheets', 'r', 'sql', 'shell', None]

In [20]:
#merging both twotable course or Rating based on Course_id
df = pd.merge(avg_course_ratings, course_data, on="course_id")

In [21]:
#df=df.sort_values(by=['course_id'])
df.head(10)

,course_id,rating,title,description,programming_language
0,23,4.80,GARCH Models in R,Are you curious about the rhythm of the financ...,r
1,46,4.80,Designing and Analyzing Clinical Trials in R,Clinical trials are scientific experiments tha...,r
2,96,4.69,Intro to SQL for Data Science,The role of a data scientist is to turn raw da...,sql
3,56,4.66,Extreme Gradient Boosting with XGBoost,Do you know the basics of supervised learning ...,python
4,26,4.65,Introduction to Seaborn,Seaborn is a powerful Python library that make...,python
5,24,4.65,Nonlinear Modeling in R with GAMs,Generalized Additive Models are a powerful too...,r
6,87,4.63,Introduction to Spark in R using sparklyr,R is mostly optimized to help you write data a...,r
7,61,4.63,Manipulating Time Series Data in R: Case Studies,This follow-up course on manipulating time ser...,r
8,85,4.63,Bond Valuation and Analysis in R,<p>After this course on quantitative finance w...,r
9,81,4.62,Exploratory Data Analysis in R: Case Study,Once you've started learning tools for data ma...,r

In [22]:
df.iloc[2,2]

'Intro to SQL for Data Science'

In [24]:
#convert spredsheet first word to capital
df['programming_language']=df['programming_language'].apply(lambda x: "Spreadsheet" if x=="spreadsheets" else x)

In [25]:
df.head(99)

,course_id,rating,title,description,programming_language
0,23,4.80,GARCH Models in R,Are you curious about the rhythm of the financ...,r
1,46,4.80,Designing and Analyzing Clinical Trials in R,Clinical trials are scientific experiments tha...,r
2,96,4.69,Intro to SQL for Data Science,The role of a data scientist is to turn raw da...,sql
3,56,4.66,Extreme Gradient Boosting with XGBoost,Do you know the basics of supervised learning ...,python
4,26,4.65,Introduction to Seaborn,Seaborn is a powerful Python library that make...,python
...,...,...,...,...,...
94,54,4.24,Improving Query Performance in SQL Server,A mission critical assignment is depending on ...,sql
95,92,4.22,Foundations of Predictive Analytics in Python ...,Building good models only succeeds if you have...,python
96,29,4.21,Spatial Statistics in R,"Everything happens somewhere, and increasingly...",r
97,17,4.15,Analyzing US Census Data in Python,"Data scientists in diverse fields, from market...",python
98,42,4.11,Conda Essentials,"Software is constantly evolving, so data scien...",shell

In [26]:
df.course_id[46]

13

In [27]:
df.isna().mean()

course_id               0.000000
rating                  0.000000
title                   0.000000
description             0.000000
programming_language    0.020202
dtype: float64

In [28]:
#Making Dictonary of course_id and Programing language and adding tittle on programming language
def extract_course_rating(df):
    dict={ df.iloc[i,0]:(f'{df.iloc[i,4]} ({df.iloc[i,2]})') for i in range(0,99) }
    return(dict)

In [29]:
#storeing dictonory into final variable
final=extract_course_rating(df)

In [30]:
final

{23: 'r (GARCH Models in R)',
 46: 'r (Designing and Analyzing Clinical Trials in R)',
 96: 'sql (Intro to SQL for Data Science)',
 56: 'python (Extreme Gradient Boosting with XGBoost)',
 26: 'python (Introduction to Seaborn)',
 24: 'r (Nonlinear Modeling in R with GAMs)',
 87: 'r (Introduction to Spark in R using sparklyr)',
 61: 'r (Manipulating Time Series Data in R: Case Studies)',
 85: 'r (Bond Valuation and Analysis in R)',
 81: 'r (Exploratory Data Analysis in R: Case Study)',
 31: 'r (Introduction to R for Finance)',
 86: 'python (Building Recommendation Engines with PySpark)',
 7: 'python (Introduction to Python)',
 76: 'r (Interactive Maps with leaflet in R)',
 35: 'r (Interactive Data Visualization with rbokeh)',
 44: 'python (Introduction to Data Science in Python)',
 14: 'python (Intro to Portfolio Risk Management in Python)',
 32: 'python (Intermediate Python for Data Science)',
 28: 'python (Python for Spreadsheet Users)',
 71: 'r (Differential Expression Analysis in R with limma)',
 37: 'r (Writing Efficient R Code)',
 3: 'r (Intermediate R)',
 36: 'python (Importing Data in Python (Part 1))',
 25: 'r (Machine Learning with Tree-Based Models in R)',
 95: 'python (Python Data Science Toolbox (Part 2))',
 83: 'r (Course Creation at DataCamp)',
 33: 'python (Introduction to Matplotlib)',
 38: 'r (Visualizing Big Data with Trelliscope)',
 1: 'python (Machine Learning with Apache Spark)',
 66: 'python (Visualizing Time Series Data in Python)',
 16: 'r (Intermediate Functional Programming with purrr)',
 59: 'python (Visualizing Geospatial Data in Python)',
 74: 'r (Valuation of Life Insurance Products in R)',
 64: 'r (Importing Data in R (Part 1))',
 41: 'r (Defensive R Programming)',
 94: 'r (Sentiment Analysis in R: The Tidy Way)',
 68: 'sql (Analyzing Business Data in SQL)',
 63: 'r (Human Resources Analytics in R: Predicting Employee Churn)',
 60: 'r (Data Science for Managers)',
 75: 'python (Data Visualization with Seaborn)',
 91: 'r (Importing Data in R (Part 2))',
 6: 'sql (Joining Data in SQL)',
 90: 'python (pandas Foundations)',
 11: 'r (Supervised Learning in R: Classification)',
 49: 'r (Marketing Analytics in R: Statistical Modeling)',
 43: 'python (Writing Efficient Python Code)',
 13: 'r (Equity Valuation in R)',
 51: 'r (Data Manipulation in R with dplyr)',
 52: 'python (Feature Engineering for NLP in Python)',
 34: 'python (Big Data Fundamentals via PySpark)',
 9: 'r (Credit Risk Modeling in R)',
 84: 'r (Supervised Learning in R: Regression)',
 50: 'r (Machine Learning Toolbox)',
 22: 'r (Importing & Cleaning Data in R: Case Studies)',
 67: 'python (Forecasting Using ARIMA Models in Python)',
 88: 'python (Python for R Users)',
 40: 'python (Machine Learning for Finance in Python)',
 65: 'r (Foundations of Functional Programming with purrr)',
 45: 'r (Multiple and Logistic Regression)',
 55: 'r (Inference for Linear Regression)',
 27: 'r (Bayesian Regression Modeling with rstanarm)',
 70: 'sql (Introduction to Relational Databases in SQL)',
 78: 'python (Network Analysis in Python (Part 2))',
 21: 'python (Supply Chain Analytics in Python)',
 58: 'r (Introduction to Text Analysis in R)',
 48: 'r (Data Manipulation in R with data.table)',
 53: 'r (Interactive Data Visualization with plotly in R)',
 30: 'python (Fraud Detection in Python)',
 57: 'None (Statistical Modeling in R (Part 2))',
 93: 'python (Python for MATLAB Users)',
 39: 'python (Parallel Computing with Dask)',
 82: 'shell (Conda for Building & Distributing Packages)',
 79: 'r (Developing R Packages)',
 99: 'r (Predictive Analytics using Networked Data in R)',
 97: 'python (Foundations of Predictive Analytics in Python (Part 1))',
 20: 'shell (Introduction to Git for Data Science)',
 18: 'python (Network Analysis in Python (Part 1))',
 19: 'python (Introduction to Databases in Python)',
 47: 'r (Foundations of Inference)',
 89: 'r (RNA-Seq Differential Expression Analysis)',
 72: 'python (Natural Language Processing Fundamentals in Python)',
 10: 'r (Experimental Design in R)',
 12: 'r (Visualizing Time Series Data in R)',
 15: 'sql (Data-Driven Decision Making in SQL)',
 4: 'r (Data Visualization with ggplot2 (Part 2))',
 80: 'r (String Manipulation in R with stringr)',
 69: 'python (Statistical Simulation in Python)',
 73: 'None (Financial Trading in R)',
 5: 'r (Fraud Detection in R)',
 100: 'python (Working with Dates and Times in Python)',
 62: 'Spreadsheet (Intermediate Spreadsheets for Data Science)',
 98: 'python (Building Chatbots in Python)',
 8: 'r (Bayesian Modeling with RJAGS)',
 2: 'Spreadsheet (Financial Analytics in Spreadsheets)',
 54: 'sql (Improving Query Performance in SQL Server)',
 92: 'python (Foundations of Predictive Analytics in Python (Part 2))',
 29: 'r (Spatial Statistics in R)',
 17: 'python (Analyzing US Census Data in Python)',
 42: 'shell (Conda Essentials)'}

In [31]:
#Differentiate the programming language  and storing into a seprate dictonary
python={}
spreadsheets={}
r={}
sql={}
shell={}
for keys,values in final.items():
    if values[0:2]=="py":
        python[keys]=values
    elif values[0:2]=="r " or values[0:2]=="No" :
        r[keys]=values
    elif values[0:2]=="sq":
        sql[keys]=values
    elif values[0:2]=="sh":
        shell[keys]=values
    elif values[0:2]=="Sp":
        spreadsheets[keys]=values

In [32]:
print(python.keys())

dict_keys([56, 26, 86, 7, 44, 14, 32, 28, 36, 95, 33, 1, 66, 59, 75, 90, 43, 52, 34, 67, 88, 40, 78, 21, 30, 93, 39, 97, 18, 19, 72, 69, 100, 98, 92, 17])

In [33]:
print(python)

{56: 'python (Extreme Gradient Boosting with XGBoost)', 26: 'python (Introduction to Seaborn)', 86: 'python (Building Recommendation Engines with PySpark)', 7: 'python (Introduction to Python)', 44: 'python (Introduction to Data Science in Python)', 14: 'python (Intro to Portfolio Risk Management in Python)', 32: 'python (Intermediate Python for Data Science)', 28: 'python (Python for Spreadsheet Users)', 36: 'python (Importing Data in Python (Part 1))', 95: 'python (Python Data Science Toolbox (Part 2))', 33: 'python (Introduction to Matplotlib)', 1: 'python (Machine Learning with Apache Spark)', 66: 'python (Visualizing Time Series Data in Python)', 59: 'python (Visualizing Geospatial Data in Python)', 75: 'python (Data Visualization with Seaborn)', 90: 'python (pandas Foundations)', 43: 'python (Writing Efficient Python Code)', 52: 'python (Feature Engineering for NLP in Python)', 34: 'python (Big Data Fundamentals via PySpark)', 67: 'python (Forecasting Using ARIMA Models in Python)', 88: 'python (Python for R Users)', 40: 'python (Machine Learning for Finance in Python)', 78: 'python (Network Analysis in Python (Part 2))', 21: 'python (Supply Chain Analytics in Python)', 30: 'python (Fraud Detection in Python)', 93: 'python (Python for MATLAB Users)', 39: 'python (Parallel Computing with Dask)', 97: 'python (Foundations of Predictive Analytics in Python (Part 1))', 18: 'python (Network Analysis in Python (Part 1))', 19: 'python (Introduction to Databases in Python)', 72: 'python (Natural Language Processing Fundamentals in Python)', 69: 'python (Statistical Simulation in Python)', 100: 'python (Working with Dates and Times in Python)', 98: 'python (Building Chatbots in Python)', 92: 'python (Foundations of Predictive Analytics in Python (Part 2))', 17: 'python (Analyzing US Census Data in Python)'}

In [34]:
print(spreadsheets)

{62: 'Spreadsheet (Intermediate Spreadsheets for Data Science)', 2: 'Spreadsheet (Financial Analytics in Spreadsheets)'}

In [35]:
print(shell)

{82: 'shell (Conda for Building & Distributing Packages)', 20: 'shell (Introduction to Git for Data Science)', 42: 'shell (Conda Essentials)'}

In [36]:
print(sql)

{96: 'sql (Intro to SQL for Data Science)', 68: 'sql (Analyzing Business Data in SQL)', 6: 'sql (Joining Data in SQL)', 70: 'sql (Introduction to Relational Databases in SQL)', 15: 'sql (Data-Driven Decision Making in SQL)', 54: 'sql (Improving Query Performance in SQL Server)'}

In [37]:
print(r)

{23: 'r (GARCH Models in R)', 46: 'r (Designing and Analyzing Clinical Trials in R)', 24: 'r (Nonlinear Modeling in R with GAMs)', 87: 'r (Introduction to Spark in R using sparklyr)', 61: 'r (Manipulating Time Series Data in R: Case Studies)', 85: 'r (Bond Valuation and Analysis in R)', 81: 'r (Exploratory Data Analysis in R: Case Study)', 31: 'r (Introduction to R for Finance)', 76: 'r (Interactive Maps with leaflet in R)', 35: 'r (Interactive Data Visualization with rbokeh)', 71: 'r (Differential Expression Analysis in R with limma)', 37: 'r (Writing Efficient R Code)', 3: 'r (Intermediate R)', 25: 'r (Machine Learning with Tree-Based Models in R)', 83: 'r (Course Creation at DataCamp)', 38: 'r (Visualizing Big Data with Trelliscope)', 16: 'r (Intermediate Functional Programming with purrr)', 74: 'r (Valuation of Life Insurance Products in R)', 64: 'r (Importing Data in R (Part 1))', 41: 'r (Defensive R Programming)', 94: 'r (Sentiment Analysis in R: The Tidy Way)', 63: 'r (Human Resources Analytics in R: Predicting Employee Churn)', 60: 'r (Data Science for Managers)', 91: 'r (Importing Data in R (Part 2))', 11: 'r (Supervised Learning in R: Classification)', 49: 'r (Marketing Analytics in R: Statistical Modeling)', 13: 'r (Equity Valuation in R)', 51: 'r (Data Manipulation in R with dplyr)', 9: 'r (Credit Risk Modeling in R)', 84: 'r (Supervised Learning in R: Regression)', 50: 'r (Machine Learning Toolbox)', 22: 'r (Importing & Cleaning Data in R: Case Studies)', 65: 'r (Foundations of Functional Programming with purrr)', 45: 'r (Multiple and Logistic Regression)', 55: 'r (Inference for Linear Regression)', 27: 'r (Bayesian Regression Modeling with rstanarm)', 58: 'r (Introduction to Text Analysis in R)', 48: 'r (Data Manipulation in R with data.table)', 53: 'r (Interactive Data Visualization with plotly in R)', 57: 'None (Statistical Modeling in R (Part 2))', 79: 'r (Developing R Packages)', 99: 'r (Predictive Analytics using Networked Data in R)', 47: 'r (Foundations of Inference)', 89: 'r (RNA-Seq Differential Expression Analysis)', 10: 'r (Experimental Design in R)', 12: 'r (Visualizing Time Series Data in R)', 4: 'r (Data Visualization with ggplot2 (Part 2))', 80: 'r (String Manipulation in R with stringr)', 73: 'None (Financial Trading in R)', 5: 'r (Fraud Detection in R)', 8: 'r (Bayesian Modeling with RJAGS)', 29: 'r (Spatial Statistics in R)'}

In [38]:
#checking length of dictonary
print(len(spreadsheets)+len(shell)+len(r)+len(python)+len(sql))

99

In [39]:
print(list(python.keys()).index(26))
p=2
print(list(python)[p+1])

1
7

In [30]:
#extracting 99 uniquedata from database
rating1=pd.read_sql("SELECT DISTINCT(course_id) FROM rating ORDER BY course_id LIMIT 99", db_engine)

#and storeing into another variable
list1=rating1['course_id']

In [31]:
print(len(list1))

99

In [234]:
"""import numpy as np
dict={'user_id':np.arange(100)}
print(len(dict))"""

1

In [32]:
#final recommendation 

def get_courses_to_recommend(ratings,python,spreadsheets,sql,r,shell,df):
    #user_list = ratings.course_id.unique
    #course_set = set(course_data.course_id.unique())
    course_Recomandate=[]
    for user in list1:
        if user in python:
            p=list(python.keys()).index(user)
            course_Recomandate.append(list(python)[p-1])
        elif user==56:
            p=list(python.keys()).index(user)
            course_Recomandate.append(list(python)[p+1])
        elif user in spreadsheets:
            q=list(spreadsheets.keys()).index(user)
            course_Recomandate.append(int(list(spreadsheets)[q-1]))
        elif user==62:
            q=list(spreadsheets.keys()).index(user)
            course_Recomandate.append(int(list(spreadsheets)[q+1]))
        elif user in sql :
            s=list(sql.keys()).index(user)
            course_Recomandate.append(int(list(sql)[s-1]))
        elif user==96 :
            s=list(sql.keys()).index(user)
            course_Recomandate.append(int(list(sql)[s+1]))
        elif user in r :
            t=list(r.keys()).index(user)
            course_Recomandate.append(int(list(r)[t-1]))
        elif user == 23 :
            t=list(r.keys()).index(user)
            course_Recomandate.append(int(list(r)[t+1]))
        elif user in shell:
            u=list(shell.keys()).index(user)
            course_Recomandate.append(int(list(shell)[u-1]))
        elif user==82:
            u=list(shell.keys()).index(user)
            course_Recomandate.append(int(list(shell)[u+1]))
        
        
    return(course_Recomandate)
    
    
    


Course_Recomandate1=(get_courses_to_recommend(list1,python,spreadsheets,sql,r,shell,df))
len(Course_Recomandate1)

99

In [33]:
#making dataframe and merging User_id,Course_Recomandate,Previous_Course
dict1={"User_ID":list1,"Previous_Course":list1,"Course_Recomandate":Course_Recomandate1}
courses_to_recommend=pd.DataFrame(dict1)

In [34]:
courses_to_recommend

    User_ID  Previous_Course  Course_Recomandate
0         1                1                  33
1         2                2                  62
2         3                3                  37
3         4                4                  12
4         5                5                  73
..      ...              ...                 ...
94       96               96                  54
95       97               97                  39
96       98               98                 100
97       99               99                  79
98      100              100                  69

[99 rows x 3 columns]

In [35]:
courses_to_recommend.to_csv('courses_to_recommend.csv', index = False)

In [36]:
# def get_courses_to_recommend(ratings, course_data):
#     user_list = ratings.user_id.unique()

#     course_set = set(course_data.course_id.unique())

#     non_enrolled_users = []

#     for user in user_list:
#         rated_course_set = set(ratings[ratings.user_id == user].course_id.unique())
#         non_enrolled_courses = course_set - rated_course_set
#         non_enrolled_users = non_enrolled_users + [(user, cid) for cid in non_enrolled_courses]
#         break
#     non_enrolled_courses_df = pd.DataFrame(non_enrolled_users, columns = ['user_id', 'course_id'])
#     return non_enrolled_courses_df

# courses_to_recommend = get_courses_to_recommend(ratings, course_data)
# courses_to_recommend.to_csv('courses_to_recommend.csv', index = False)
# courses_to_recommend.sample(n=500).to_csv('courses_to_recommend_small.csv', index = False)

    user_id  course_id
0         1          1
1         1          2
2         1          3
3         1          4
4         1          5
..      ...        ...
89        1         96
90        1         97
91        1         98
92        1         99
93        1        100

[94 rows x 2 columns]

In [36]:
course_data.shape

(100, 4)

In [37]:
temp = pd.read_csv('courses_to_recommend.csv')
#temp.sample(n=2000).to_csv('courses_to_recommend_small.csv', index = False)

In [38]:
courses_to_recommend = pd.read_csv('courses_to_recommend.csv')

courses_to_recommend.head()

   User_ID  Previous_Course  Course_Recomandate
0        1                1                  33
1        2                2                  62
2        3                3                  37
3        4                4                  12
4        5                5                  73

In [40]:
courses_to_recommend.groupby('User_id').count()

KeyError: 'User_id'

In [45]:
# Complete the transformation function
def transform_recommendations(avg_course_ratings, courses_to_recommend):
    # Merge both DataFrames
    merged = courses_to_recommend.merge(avg_course_ratings) 
    
    # Sort values by rating and group by user_id
    grouped = merged.sort_values("rating", ascending=False).groupby("user_id")
    
    # Produce the top 3 values and sort by user_id
    recommendations = grouped.head(3).sort_values("user_id").reset_index()
    
    final_recommendations = recommendations[["user_id", "course_id","rating"]]
    
    # Return final recommendations
    return final_recommendations


# Use the function with the predefined DataFrame objects
recommendations = transform_recommendations(avg_course_ratings, courses_to_recommend)

In [46]:
# Merge both DataFrames
merged = courses_to_recommend.merge(avg_course_ratings) 

merged.head()

   user_id  course_id    rating
0    28900         90  4.492191
1    28933         90  4.492191
2    17770         90  4.492191
3    21548         90  4.492191
4    13173         90  4.492191

In [47]:
merged.sort_values("rating", ascending=False).head()

      user_id  course_id  rating
1746     9481         46     4.8
32      35386         23     4.8
24       1892         23     4.8
25      30284         23     4.8
26      33843         23     4.8

In [48]:
merged[merged.user_id == 30251]

     user_id  course_id    rating
976    30251         72  4.340278

In [49]:
# Sort values by rating and group by user_id
grouped = merged.sort_values("rating", ascending=False).groupby("user_id")


# Produce the top 3 values and sort by user_id
recommendations = grouped.head(3).sort_values("user_id")

recommendations.head()

      user_id  course_id    rating
1828        7         28  4.578947
153        44         57  4.411765
1053       49         49  4.492537
1027       65          2  4.253012
854        83         24  4.653061

In [50]:
recommendations[recommendations.user_id == 16456]

Empty DataFrame
Columns: [user_id, course_id, rating]
Index: []

In [51]:
recommendations = transform_recommendations(avg_course_ratings, courses_to_recommend)

In [52]:
db_engine = create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                                   format('root', '12345', 
                                                          'localhost', 'elearning'))

def load_to_dwh(recommendations, db_engine):
    recommendations.to_sql("recommendations", db_engine, if_exists="replace")

In [53]:
load_to_dwh(recommendations, db_engine)

In [55]:
def recommendations_for_user(user_id, threshold=4.5):
    # Join with the courses table
    query = """
    SELECT title, rating FROM recommendations
    INNER JOIN courses ON courses.course_id = recommendations.course_id
    WHERE user_id=%(user_id)s AND rating>%(threshold)s
    ORDER BY rating DESC
    """
    # Add the threshold parameter
    predictions_df = pd.read_sql(query, db_engine, params = {"user_id": user_id, 
                                                           "threshold": threshold})
    return predictions_df.title.values

# Try the function you created
print(recommendations_for_user(44, 4.0))

['Statistical Modeling in R (Part 2)']

## ETL: Combine all the operations

In [54]:
def etl(db_engine):
    # Extract the data
    courses = extract_course_data(db_engine)
    rating = extract_rating_data(db_engine)
    
    # Clean up courses data
    courses = transform_fill_programming_language(courses)
    
    # Get the average course ratings
    avg_course_rating = transform_avg_rating(rating)
    
    # Get eligible user and course id pairs
    courses_to_recommend = pd.read_csv('courses_to_recommend_small.csv')
    
    # Calculate the recommendations
    recommendations = transform_recommendations(
    avg_course_rating,
    courses_to_recommend,
    )
    
    # Load the recommendations into the database
    load_to_dwh(recommendations, db_engine)

In [55]:
etl(db_engine)

## Assignment

1. Recommend courses based on programming_language.
   - Build a logic and create flolwchart of it.
   - Write the code for it in python/sql.